.MatrixCell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.DummyContent {
    width: 100%;
    height: 100%;
    background-color: royalblue;
    transition: 0.2s;
}

.FoodContent {
    transition: 0.3s;
}
